<!DOCTYPE html>
<html>
<head>
    <title>File Shrinking</title>
    <link rel="stylesheet" href="static/css/home.css">
</head>
<body>
    <h1>Shrink Files</h1>
    <div id="drop-area">
        <h3 class="drop-text">Drag and Drop Files Here</h3>
        <input type="file" id="file-input" multiple>
    </div>
    <div class="privacy-button">
        <a href="privacy">Privacy/Legal</a>
    </div>

    <script src="static/js/jdragndrop.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6988038024379182"
     crossorigin="anonymous"></script>
</body>
</html>