<!DOCTYPE html>
<html>
<head>
    <title>File Shrinking - Privacy</title>
    <link rel="stylesheet" href="static/css/privacy.css">
</head>
<body>
    <h1>Shrink Files</h1>

    <div class="privacy-content">
        <h2>Privacy Policy</h2>
        <p>This website is provided on an "as is" basis. By using this website, you agree to use it at your own risk.</p>
        <p>We do not collect any personal information from users of this website.</p>
        <p>For any legal concerns or questions regarding privacy, please contact us at devin@graphconstructor.com.</p>
    </div>

    <div class="home-button">
        <a href="/">Home Page</a>
    </div>

    <script src="static/js/jdragndrop.js"></script>
</body>
</html>